<template>
  <div v-bind="$attrs">
    <label :for="id">{{ label }}</label>
    <slot />
    <p v-if="required" class="required">
      Please fill out this field.
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FormField',
  props: {
    id: { type: String, required: true },
    label: { type: String, required: true },
    required: { type: Boolean, default: false }
  }
});
</script>

<style scoped>

</style>
