<template>
  <div v-bind="$attrs" v-on="$listeners">
    <label :for="id">{{ label }}</label>
    <div class="relative">
      <select :id="id">
        <option v-for="(option, i) in options" :key="i">
          {{ option }}
        </option>
      </select>
      <div class="select-icon">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'BaseSelect',
  props: {
    id: { type: String, required: true },
    label: { type: String, required: true },
    options: { type: Array, default: (): Array<string> => [] }
  }
});
</script>

<style scoped>
.select-icon {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700;
}
</style>
