@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/** Form **/
input, textarea {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight;
}

textarea {
    @apply px-3 mb-6 appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight;
}

label {
    @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}

select {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight;
}

label.required:after {
    content: '*';
    @apply text-red-500;
}

input:focus, select:focus {
    @apply outline-none bg-white;
}

.invalid {
    @apply border-red-500;
}
