<template>
  <main class="px-4">
    <h1>Dashboard</h1>
    <table class="table-auto">
      <thead>
        <tr>
          <th v-for="(header, i) in headers" :key="`${header}--${i}`" class="w-1/2 border px-4 py-2">
            {{ header }}
          </th>
          <th class="w-1/2 border px-4 py-2">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(row, j) in rows" :key="`${row}--${j}`" :class="{ 'bg-gray-100': j % 2 === 0 }">
          <td v-for="(col, k) in row" :key="`${col}--${k}`" class="border px-4 py-2">
            {{ col }}
          </td>
          <td>
            <nuxt-link :to="{ name: 'trips-id', params: { id: row[0] } }">
              {{ row }}
            </nuxt-link>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</template>

<script lang="ts">
import Vue from 'vue';

interface Trip {}

export default Vue.extend({
  name: 'Trips',
  async asyncData (ctx): Promise<any> {
    const trips = await ctx.$axios.$get('http://localhost:3001/trips');
    return { trips };
  },
  computed: {
    headers () {
      return Object.keys(this.trips[0]);
    },
    rows () {
      return this.trips.map(trip => [...Object.values(trip)]);
    }
  }
});
</script>
