<template>
  <main class="p-2 md:p-10">
    <h1 class="text-center text-xl font-bold my-5">
      Register trip
    </h1>
    <form @submit="create">
      <div class="row">
        <form-field
          id="form-origin"
          class="w-full md:w-1/2 px-3 mb-6 md:mb-0"
          label="Origin"
        >
          <template>
            <input
              id="grid-form-origin-name"
              v-model="form.origin"
              type="text"
              placeholder="Home"
            >
          </template>
        </form-field>
        <form-field
          id="form-destination"
          class="w-full md:w-1/2 px-3 mb-6 md:mb-0"
          label="Destination"
        >
          <template>
            <input id="form-destination" type="text" placeholder="Home">
          </template>
        </form-field>
      </div>

      <div class="row">
        <form-field
          id="form-date"
          class="w-full md:w-1/3 px-3 mb-6 md:mb-0"
          label="Date"
        >
          <template>
            <input id="form-date" type="date">
          </template>
        </form-field>
        <base-select
          id="grid-state"
          class="w-full md:w-1/3 px-3 mb-6 md:mb-0"
          label="Heaviest mode"
          :options="['New Mexico', 'Missouri']"
        />

        <form-field
          id="form-modes-number"
          class="w-full md:w-1/3 px-3 mb-6 md:mb-0"
          label="Different modes number"
        >
          <template>
            <input id="form-modes-number" type="number" max="6">
          </template>
        </form-field>
      </div>

      <div class="row">
        <base-select
          id="grid-mode1"
          class="w-full md:w-1/3 px-3 mb-6 md:mb-0"
          label="Mode 1"
          :options="['New Mexico', 'Missouri']"
        />
      </div>

      <div class="row">
        <form-field
          id="form-motive9"
          class="w-full md:w-1/3 px-3 mb-6 md:mb-0"
          label="Motive 9"
        >
          <template>
            <input id="form-motive9" type="number" max="9">
          </template>
        </form-field>

        <form-field
          id="form-motive38"
          class="w-full md:w-1/3 px-3 mb-6 md:mb-0"
          label="Motive 38"
        >
          <template>
            <input id="form-motive38" type="number" max="100">
          </template>
        </form-field>
        <form-field
          id="form-total-distance"
          class="w-full md:w-1/3 px-3 mb-6 md:mb-0"
          label="Total distance"
        >
          <template>
            <input id="form-total-distance" type="number" max="10000">
          </template>
        </form-field>
      </div>

      <div class="row">
        <form-field
          id="form-distance1"
          class="w-full md:w-1/3 px-3 mb-6 md:mb-0"
          label="Distance 1"
        >
          <template>
            <input id="form-distance1" type="number" max="10000">
          </template>
        </form-field>
      </div>

      <div class="row">
        <form-field
          id="form-filling-rate"
          class="w-full md:w-1/3 px-3 mb-6 md:mb-0"
          label="Filling rate"
        >
          <template>
            <input id="form-filling-rate" type="number" max="1000">
          </template>
        </form-field>
        <base-select
          id="form-is-driver"
          class="w-full md:w-1/3 px-3 mb-6 md:mb-0"
          label="Is driver ?"
          :options="['Yes', 'No']"
        />
        <base-select
          id="form-weather"
          class="w-full md:w-1/3 px-3 mb-6 md:mb-0"
          label="Weather"
          :options="['Dry', 'Rainy']"
        />
      </div>

      <div class="row">
        <div class="w-full px-3 mb-6 md:mb-0">
          <label for="form-comments">Comments</label>
          <textarea id="form-comments" />
        </div>
      </div>
    </form>
  </main>
</template>
<script lang="ts">
import Vue from 'vue';

import BaseSelect from '@/components/form/Select.vue';
import FormField from '@/components/form/Field.vue';

export default Vue.extend({
  name: 'TripId',
  components: { BaseSelect, FormField },
  data () {
    return {
      form: {
        origin: ''
      }
    };
  }
});
</script>

<style scoped>
  .row {
    @apply flex flex-wrap -mx-3 mb-2;
  }

  p.required {
    @apply text-red-500 text-xs italic;
  }
</style>
