<template>
  <div class="container">
    <div>
      <logo />
      <h1 class="title">
        TRIPS
      </h1>
      <div class="links">
        <nuxt-link
          :to="{ name: 'trips' }"
          class="button--green"
        >
          Dashboard
        </nuxt-link>
        <a
          href="https://github.com/Scttpr/trip_api"
          target="_blank"
          rel="noopener noreferrer"
          class="button--grey"
        >
          GitHub
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import Logo from '@/components/Logo.vue';

export default Vue.extend({
  name: 'Home',
  components: { Logo }
});
</script>

<style>
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
